name: Blender CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: pip install flake8
    - name: Lint with flake8
      run: flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - uses: actions/checkout@v3
    - name: Get Version
      id: version
      run: echo "::set-output name=VERSION::$(python -c "import re; print(re.search(r'v(\d+\.\d+\.\d+)', open('.version').readline()).group(1))")"
    - name: Build Addon
      run: python build.py
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: cash-cab-addon
        path: cash-cab-addon-v*.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v3
    - name: Download Artifact
      uses: actions/download-artifact@v4
      with:
        name: cash-cab-addon
    - name: Get Version from Artifact
      id: version
      run: echo "::set-output name=VERSION::$(ls cash-cab-addon-v*.zip | sed -E 's/.*v([0-9]+\.[0-9]+\.[0-9]+)\.zip/\1/')"
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v${{ steps.version.outputs.VERSION }}
        release_name: Release v${{ steps.version.outputs.VERSION }}
        draft: false
        prerelease: false
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./cash-cab-addon-v${{ steps.version.outputs.VERSION }}.zip
        asset_name: cash-cab-addon-v${{ steps.version.outputs.VERSION }}.zip
        asset_content_type: application/zip
